
/* Base Application Styles */
body {

}

// Required for Leaflet Map Sizing
html, body, #app, .main-container {
    height: 100%;
    width: 100%;
}

.loading {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.main-container {
    position: absolute;
}

